
input[type="text"] {
    /*border: none;*/
    /*display: block;*/
    color: #808589;
    text-align: center;
  }

  input[type="submit"]:hover {
      border: 2px solid #FFC56B;
      /*color: #000;*/
      /*align-items: center;
      align-self: center;
      align-content: center;*/
  }

  body {
    text-align: center;
    align-items: center;
  }

   li {
    list-style-type: none;
  }


  #home-main-form {
    display: block;
    align-self: center;
    align-content: center;
    top: 50%;
    /*transform: translateY(-50%);*/
    /*overflow: hidden;*/
    /*padding-right: .5em;*/
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  #search-input {
    width: 70%;
    align-self: center;
    font-size: 500%;
    background: rgba(241,	246,	249, .7	);
    border: none;
    /*margin-bottom: 30%;*/
    z-index: 1;
    float: left;
    margin-left: 10%;
    display: inline-block;
  }

  #search {
    display: inline-block;
    background:transparent;
    border: none;
    max-width: 40px;
    float: left;
  }
/*input {
  font-color: #808589;
}*/

.list {
  background: rgba(241,	246,	249, .7	);
  width: 70%;
  /*align-self: center;*/
  margin: 0 auto 
}

/*.artist-song-list ul {
  background: rgba(241,	246,	249, .7	);
  width: 70%;
  align-self: center;
}*/

#app-title {
  display: none;
  transform: scale(0.25);
  position: relative;
  clear: both;
   top: 50%;
   left: 50%;
   margin-top: -250px;
   margin-left: -250px;
}


#title {
  /*font-family: 'Poller One', cursive;*/
}
::-webkit-input-placeholder {
   text-align: center;
   color: #808589;
   font-family: 'Open Sans', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
   font-family: 'Open Sans', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   color: #808589;
   font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {
   text-align: center;
   color: #808589;
   font-family: 'Open Sans', sans-serif;
}

.register-image {
  max-width: 100px;
  float: right;
  /*display: none;*/
  top: 400px;
  position: absolute;
  right: 450px;
}

.logo {
  max-width: 350px;
  float: right;
  margin-right: 5%;
  position: relative;
  top: 200px;
  right: 200px;
}

#login-image {
  display: block;
  max-width: 100px;
  float: right;
  clear: left;
  bottom: auto;
  top: 400px;
  right: 350px;
  position: absolute;
}

#logout-image {
  max-width: 100px;
  float: right;
}

/*.image:hover {
   background-image: url('../public/signUpImagepost.png')
}*/



html {
  background: url(images/new.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
}

.wrap {
  display: none;
}
.wrap {
	margin:0;
	color:white;
	background:rgb(117,	155,	176	);
	font:600 20px/22px 'Open Sans',sans-serif;
  float: right;
	margin:auto;
  top: 325px;
	max-width:300px;
	position:relative;
  clear: both;
  right: 350px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.form{
	padding:30px 30px 30px 30px;
}
